air-quality.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="station">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="rec">
					<xs:complexType>
						<xs:attribute name="ts" type="xs:unsignedInt" use="required" />
						<xs:attribute name="n0x" type="xs:string" use="required" />
						<xs:attribute name="n0" type="xs:decimal" use="required" />
						<xs:attribute name="n02" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:unsignedByte" use="required" />
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="geocode" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>